body {
  background: #f8fff8;
  color: #797979;
  margin: 0;
  padding: 0;
}

.App * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: left;
}

.root,
.App {
  float: left;
  width: 100%;
  text-align: center;
}

button.primary {
  background: #9eb61a;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 2px #1c2000;
  cursor: pointer;
  transition: box-shadow 1s;
  margin-top: 8px;
  font-weight: bold;
}

button.primary:hover {
  box-shadow: 0 0 3px #1c2000;
}

button.primary.disabled {
  background: #aaa;
  color: rgb(102, 102, 102);
  box-shadow: 0 0 2px #aaa;
  cursor: not-allowed;
  font-weight: normal;
}

button.primary.disabled:hover {
  box-shadow: 0 0 3px #000;
}

.popup-center {
  width: 500px;
  max-height: 400px;
  border: 1px solid #9eb61a;
  border-radius: 8px;
  background: #fff;
  position: fixed;
  top: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.popup-center > header {
  width: 100%;
  padding: 10px 15px;
  background: #9eb61a;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.popup-center > header .close-button {
  height: 23px;
  width: 26px;
  background: #97ad16;
  box-shadow: inset 0 0 3px #89a100;
  position: absolute;
  right: 10px;
  top: 7px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 23px;
  font-weight: bold;
  font-size: 21px;
  cursor: pointer;
  transition: background 1s;
}

.popup-center > header .close-button:hover {
  background: #afbe55;
}

.popup-center .content-area {
  width: 100%;
  padding: 15px;
  overflow: auto;
  height: calc(100% - 60px);
  position: relative;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

a {
  color: #9eb61a;
  text-decoration: none;
  transition: color 1s;
}

a:hover {
  color: #637210;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  text-align: left;
}

.full-width {
  display: inline-block;
  width: 100%;
}

.text-center {
  text-align: center;
}

.float-right {
  float: right;
}

.text-right {
  text-align: right;
}

.mt5 {
  margin-top: 5px;
}

.mt15 {
  margin-top: 15px;
}

.mt30 {
  margin-top: 30px;
}

.mr15 {
  margin-right: 15px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pt15 {
  padding-top: 15px;
}

.pl8 {
  padding-left: 8px;
}

.pl15 {
  padding-left: 15px;
}

.pr15 {
  padding-right: 15px;
}

.pl5 {
  padding-left: 5px;
}

.pr5 {
  padding-right: 5px;
}

.pr8 {
  padding-right: 8px;
}

.pb15 {
  padding-bottom: 15px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb5 {
  margin-bottom: 5px;
}

.fsize13 {
  font-size: 13px;
}

.fsize15 {
  font-size: 15px;
}

.fsize18 {
  font-size: 18px;
}

.fsize22 {
  font-size: 22px;
}

.fsize26 {
  font-size: 26px;
}

.fsize30 {
  font-size: 30px;
}

.fcDeepGreen {
  color: #66730b;
}

.fcLightGreen {
  color: #97ad16;
}

.fcSafron {
  color: #f5b904;
}

.fcRed {
  color: red;
}

.fcBlue {
  color: rgb(107, 107, 253);
}

.col6 {
  width: calc(100% / 2);
  float: left;
}

.col5 {
  width: calc(100% / 5);
  float: left;
}

.col4_5 {
  width: calc((100% / 5) * 4);
  float: left;
}

.col4 {
  width: calc(100% / 4);
  float: left;
}

.col3_4 {
  width: calc((100% / 4) * 3);
  float: left;
}

.col3 {
  width: calc(100% / 3);
  float: left;
}

.col2 {
  width: calc(100% / 6);
  float: left;
}

.circle-60 {
  width: 62px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-size: 30px;
}

.circle-saffron {
  border: 1px solid #f4c430;
  background-image: radial-gradient(rgb(255, 250, 221), rgb(250, 229, 110));
}

.circle-blue {
  border: 1px solid blue;
  background-image: radial-gradient(rgb(205, 202, 252), rgb(175, 190, 253));
}

.circle-green {
  border: 1px solid #97ad16;
  background-image: radial-gradient(rgb(239, 255, 221), rgb(171, 255, 185));
}

.pointer {
  cursor: pointer;
}

.login-error-message {
  color: red;
  font-size: 13px;
  position: absolute;
  width: calc(100% - 30px);
}

table {
  width: 100%;
}

table th,
table td {
  font-size: 12px;
  padding: 10px 3px !important;
}

table.colored thead th {
  background: #97ad16;
  color: white;
  text-align: center;
  border-radius: 4px;
}

table.colored tbody tr:nth-child(even) {
  background: #eeeeee;
}

table.colored {
  border: 1px solid #eeeeee;
}

.relaive {
  position: relative;
}

.rdt > input.form-control {
  width: 130px;
  padding-right: 30px;
  cursor: pointer;
  background: #fff url(../images/calendar.jpg) no-repeat 107px;
  background-size: 18px;
}
