input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="number"],
input[type="phone"] {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  max-width: 100%;
  padding: 6px;
}

input[type="file"] {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 3px 6px;
  width: 100%;
}

select {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  min-width: 190px;
  max-width: 100%;
  padding: 6px !important;
}

.login-form {
  float: left;
  position: relative;
  width: 280px;
}

.login-form::after {
  background: #9fb61a4b;
  content: "";
  height: calc(100% - 10px);
  position: absolute;
  right: 0;
  top: 5px;
  width: 1px;
}

.form-row {
  margin-bottom: 8px;
}

.login-form label,
.role-change-form label {
  display: inline-block;
  font-size: 14px;
  width: 70px;
}

.login-form-right-content {
  float: right;
  width: 165px;
}

.login-form-right-content p {
  font-size: 12px;
}

.purchase-form ul {
  list-style: none;
}

.purchase-form ul li {
  margin-bottom: 15px;
}

.purchase-form ul li label {
  display: inline-block;
  font-size: 13px;
  width: 100px;
}

.rdt {
  display: inline-block;
}

.form-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

.purchase-form {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 15px;
}

.registration-form hr {
  margin-bottom: 10px;
}

.registration-form input[type="password"] {
  width: 100%;
}

.allow-to-sale label {
  font-size: 14px;
  line-height: 30px;
  margin-right: 3%;
  vertical-align: middle;
  width: 25%;
}

.allow-to-sale input {
  float: right;
  width: 69%;
}

.passenget-details,
.travel-details {
  background: #fff;
  margin-top: 10px;
  padding: 15px 15px 0 15px;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 0 6px #e0e0e0;
}

.travel-details .img-wrapper {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-bottom: 15px;
}

.travel-details img {
  width: 50px;
  opacity: 0.5;
}

.fare-summary-wrapper {
  background: #fff;
  margin-top: 10px;
  box-shadow: 0 0 6px #e0e0e0;
  margin-bottom: 30px;
}

.contact-details {
  background: #fff;
  padding: 15px 15px 0 15px;
  border-bottom: 1px solid #e0e0e0;
}

.passenger-info {
  box-shadow: 0 0 6px #e0e0e0;
  padding: 20px 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.passenger-info .gender-wrapper {
  width: 100px;
  float: left;
}

.passenger-info .gender-wrapper select {
  width: 100%;
  min-width: auto;
}

.fare-summary-wrapper table tr td {
  border-bottom: 1px solid #e0e0e0;
  padding: 15px !important;
}

.fare-summary-wrapper table tr td:first-child {
  width: 70%;
  font-size: 16px;
}

.fare-summary-wrapper table tr td:last-child {
  width: 30%;
  font-size: 16px;
  text-align: right;
}

button.primary.book-ticket {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  text-align: center;
}

.travel-details .flight-name {
  position: absolute;
  height: 30px;
  top: 25px;
  width: 250px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.travel-details .flight-name img {
  width: 30px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
