.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  padding: 9px 15px;
  box-shadow: 1px 1px 3px #9eb61a;
  background: rgb(249 255 248 / 58%);
  z-index: 500;
}

.logo-wrapper {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  background: -webkit-linear-gradient(rgb(240, 229, 72), rgb(2, 78, 21));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  padding-right: 10px;
}

.main-nav {
  list-style: none;
  display: inline-block;
  margin-left: 50px;
}

.main-nav li {
  float: left;
}

.main-nav li a {
  padding: 8px 20px;
  float: left;
  position: relative;
}

.main-nav li a.active::after {
  width: calc(100% - 15px);
  height: 3px;
  background: #9eb61a;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  right: 0;
  content: "";
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
}

.header-right-content {
  float: right;
  position: relative;
}

.login {
  margin-top: 10px;
  color: #9eb61a;
  transition: color 1s;
  cursor: pointer;
}

.login:hover {
  color: #637210;
}

.login span {
  margin-top: 2px;
}

.login i {
  font-size: 20px;
  margin-right: 5px;
}

.user-name {
  margin-right: 35px;
}

.user-image {
  width: 30px;
  height: 30px;
  background: #9eb61a;
  border: 1px solid #637210;
  border-radius: 100%;
  position: absolute;
  top: 5px;
  right: 0;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

.user-links {
  position: absolute;
  border: 1px solid #9eb61a;
  list-style: none;
  width: 177px;
  top: 46px;
  background: #fff;
  padding: 8px 0 8px;
  right: 0;
  border-radius: 4px;
  z-index: 5;
}

.user-links li {
  display: inline-block;
  width: 100%;
  padding: 6px 8px;
  font-size: 13px;
  vertical-align: middle;
  line-height: 13px;
}

.user-links li i {
  font-size: 16px;
  margin-right: 7px;
  display: inline-block;
  vertical-align: top;
}

.user-links hr {
  margin: 8px 0;
  border-top: 1px solid #9eb61a;
}
