.home-banner {
  float: left;
  width: 100%;
}

.home-banner img {
  float: left;
  width: 100%;
}

.home-heros {
  height: 90px;
  box-shadow: 1px 1px 5px #aaa;
  background: #fff;
  float: left;
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

.bigger-text {
  font-size: 24px;
  margin-top: 7px;
  font-weight: bold;
}

.smaller-text {
  font-size: 14px;
  line-height: 14px;
  margin-top: 3px;
}

.page-wrapper {
  margin-top: 70px;
  text-align: center;
}

.page-wrapper > aside,
.booking-container {
  padding-left: 15px;
  padding-right: 15px;
}

.tool-bar {
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  padding: 8px 0;
  margin: 10px 0 15px;
}
