.home-banner {
  float: left;
  width: 100%;
}

.home-banner img {
  float: left;
  width: 100%;
}

.home-heros {
  height: 90px;
  box-shadow: 1px 1px 5px #aaa;
  background: #fff;
  float: left;
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

.bigger-text {
  font-size: 24px;
  margin-top: 7px;
  font-weight: bold;
}

.smaller-text {
  font-size: 14px;
  line-height: 14px;
  margin-top: 3px;
}

.page-wrapper {
  margin-top: 70px;
  text-align: center;
}

.page-wrapper > aside,
.booking-container {
  padding-left: 15px;
  padding-right: 15px;
}

.tool-bar {
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  padding: 20px 0;
  margin: 10px 0 15px;
}

.ticket-list-headig .tool-wrapper {
  float: right;
}

.ticket-list-headig label,
.ticket-search label {
  font-size: 14px;
  margin-right: 5px;
}

.ticket-search .book-ticket-btn i {
  margin-right: 15px;
}

.ticket-list-headig select,
.ticket-list-headig input[type="date"] {
  margin-right: 10px;
}

.ticket-list-headig {
  text-align: right;
  margin-bottom: 5px;
}

.ticket-list-headig p {
  margin-top: 10px;
}

.resetDate {
  position: absolute;
  border: none;
  font-size: 15px;
  right: 45px;
  top: 9px;
  background: transparent;
}

.dashboard-navs ul {
  list-style: none;
  margin: 0 0 10px 0;
  display: flex;
}
.dashboard-navs ul li {
  display: inline-block;
  padding: 5px 0;
  flex-grow: 1;
}

.dashboard-navs ul li:first-child a {
  border-left: 1px solid #97ad16;
  border-radius: 4px 0 0 4px;
}

.dashboard-navs ul li:last-child a {
  border-radius: 0 4px 4px 0;
}

.dashboard-navs ul li a {
  padding: 10px 0;
  border-right: 1px solid #b6ce29;
  font-size: 13px;
  background: rgb(179, 203, 64);
  background: linear-gradient(
    0deg,
    rgba(179, 203, 64, 1) 0%,
    rgba(151, 174, 38, 1) 100%
  );
  color: #fff;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.dashboard-navs ul li a.active {
  font-weight: bold;
  background: rgb(179, 203, 64);
  background: linear-gradient(
    0deg,
    rgba(151, 174, 38, 1) 0%,
    rgba(179, 203, 64, 1) 100%
  );
}

.contact-us-floating {
  width: 100px;
  height: 35px;
  background: rgb(179, 203, 64);
  background: linear-gradient(
    0deg,
    rgba(151, 174, 38, 1) 0%,
    rgba(179, 203, 64, 1) 100%
  );
  border-radius: 0 0 4px 4px;
  position: fixed;
  top: 300px;
  right: -32px;
  transform: rotate(90deg);
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  color: #fff;
  box-shadow: 0 0 3px #000;
  cursor: pointer;
  transition: background 1s ease-out;
  background-size: 1px 200px;
}

.contact-us-floating:hover {
  background-position: 100px;
}

.ticket-booking-list td img {
  width: 30px;
  margin-right: 10px;
}

.ticket-booking-list td .airline-name {
  margin-top: 10px;
}

.qty-error-msg {
  position: absolute;
  color: red;
  bottom: 0px;
  left: 5px;
  width: 300px;
}

.search-error-msg {
  position: absolute;
  color: red;
  top: 3px;
  width: 300px;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-size: 13px;
}

.psgContactError {
  font-size: 12px;
  color: red;
}
